# Ignore service account keys and credentials
*.json
*.yaml

# Ignore dataset and model outputs
data/
models/
*.csv
*.pkl
*.pt
*.h5

# Byte-compiled / cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/
